.case-details-carousel {
    .swiper-slide {
        &.swiper-slide-active {
            .case-details-carousel-content {
                animation: fadeInRight 0.5s linear;
            }

            .case-details-card {
                text-align: center;
                animation: fadeInRight 0.5s linear;
            }
        }
    }
}
.case-details-carousel-content {
    position: relative;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    .case-details-shape {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        border-radius: 15px;
        z-index: 1;
    }
    .case-details-img {
        position: relative;
        z-index: 2;
    }
}

.case-details-carousel {
    .swiper-button-prev,
    .swiper-button-next {
        bottom: 30px;
        top: auto;
        transform: none;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }
    .swiper-button-prev {
        left: auto;
        right: 95px;
    }
    .swiper-button-next {
        right: 30px;
    }
    &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          opacity: 1;
          visibility: visible;
        }
    }
}

.case-details-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.case-img {
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
}

.case-details2-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

// case-details-row

.case-details-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include max-screen(991) {
        justify-content: start;
    }
    margin-right: -20px;
    margin-bottom: -20px;
}

.case-details-col {
    padding-right: 20px;
    padding-bottom: 20px;
    @include max-screen(501, 991) {
        max-width: 33%;
        flex: 0 33%;
    }
    @include max-screen(500) {
        max-width: 50%;
        flex: 0 50%;
    }
}
.case-clients-card {
    background-color: rgb(247, 250, 255);
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 65px;
    padding: 70px;

    @include max-screen(992, 1199) {
        padding: 50px;
    }
    @include max-screen(991) {
        padding: 30px;
    }
    @include max-screen(767) {
        padding: 15px;
    }
    @include max-screen(991) {
        margin-bottom: 35px;
    }
}
.case-clients-card-inner {
    background-color: $white;
    border-radius: 15px;
    padding: 60px 50px;
    @include max-screen(992, 1199) {
        padding: 40px;
    }
    @include max-screen(991) {
        padding: 30px;
    }
    @include max-screen(767) {
        padding: 15px;
    }

    .title {
        color: $primary;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 20px;
        font-size: 20px;
        @include max-screen(767) {
            font-size: 18px;
        }
    }
    .clients-hr {
        background-image: linear-gradient(0deg, rgb(252, 115, 24) 0%, rgb(254, 180, 35) 100%);
        position: relative;
        display: block;
        width: 20px;
        height: 4px;
        margin-bottom: 15px;
        border-radius: 5px;
        &::before {
            position: absolute;
            left: 30px;
            top: 0;
            background-color: rgb(236, 241, 250);
            width: 45px;
            height: 100%;
            content: "";
            border-radius: inherit;
        }
    }

    p {
        font-weight: 400;
        line-height: 1.4;
        font-size: 15px;
        color: #596190;
        @include max-screen(767) {
            font-size: 12px;
        }
    }
}

.share {
    display: inline-block;
    color: $primary;
    font-weight: 700;
    line-height: 1;
    margin-right: 10px;
    font-size: 15px;
}
.share-social-links {
    .social-link-item {
        & + .social-link-item {
            margin-left: 10px;
        }
        .social-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: #f7faff;
            border: 1px solid #ecedf2;
            color: $primary;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            line-height: 40px;
            &:hover {
                i {
                    background: linear-gradient(to right, #fc7318 0%, #feb423 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}

.share-social-links2 {
    .social-link-item {
        .social-link {
            background-color: #ffffff;
            border-color: #ecedf2;
        }
    }
}

figure.snip1477 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
  }
  figure.snip1477 *,
  figure.snip1477 *:before,
  figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }
  figure.snip1477 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
    height:350px;
    object-fit: contain;
  }
  figure.snip1477 .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
  }
  figure.snip1477 .title:before,
  figure.snip1477 .title:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }
  figure.snip1477 .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  figure.snip1477 .title:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  figure.snip1477 .title div:before,
  figure.snip1477 .title div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }
  figure.snip1477 .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  figure.snip1477 .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  figure.snip1477 h2,
  figure.snip1477 h4 {
    margin: 0;
    text-transform: uppercase;
  }
  figure.snip1477 h2 {
    font-weight: 400;
  }
  figure.snip1477 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }
  figure.snip1477 figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
  }
  figure.snip1477 figcaption p {
    margin: 0;
  }
  figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  figure.snip1477:hover img,
  figure.snip1477.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
  }
  figure.snip1477:hover .title:before,
  figure.snip1477.hover .title:before,
  figure.snip1477:hover .title:after,
  figure.snip1477.hover .title:after,
  figure.snip1477:hover .title div:before,
  figure.snip1477.hover .title div:before,
  figure.snip1477:hover .title div:after,
  figure.snip1477.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  figure.snip1477:hover .title:before,
  figure.snip1477.hover .title:before,
  figure.snip1477:hover .title:after,
  figure.snip1477.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  figure.snip1477:hover figcaption,
  figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .ref figure.snip1477:hover {background-color: #1b34a8;}
  .ref.t figure.snip1477:hover {background-color: #fe9415;}
  .mw-1500{max-width:1500px}
  .mb-35{margin-bottom: 35px;}